In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Base de dados
carros = pd.read_csv('https://raw.githubusercontent.com/RafaelSilvax06/ProjetoIA-Analise/refs/heads/main/car_sales_data.csv')
carros.head(30)

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
5,Ford,Focus,1.4,Petrol,2018,33603,29204
6,Ford,Mondeo,1.8,Diesel,2010,86686,14350
7,Toyota,Prius,1.4,Hybrid,2015,30663,30297
8,VW,Polo,1.2,Petrol,2012,73470,9977
9,Ford,Focus,2.0,Diesel,1992,262514,1049
10,VW,Golf,2.0,Diesel,2014,83047,17173
11,BMW,Z4,2.0,Petrol,1990,293666,719
12,VW,Golf,1.2,Diesel,2007,92697,7792
13,Toyota,RAV4,2.2,Petrol,2007,79393,16026
14,Toyota,Yaris,1.4,Petrol,1998,97286,4046
15,VW,Golf,1.6,Diesel,1989,222390,933
16,Toyota,RAV4,2.4,Hybrid,2003,117425,11667
17,Toyota,Yaris,1.2,Petrol,1992,245990,720
18,Toyota,RAV4,2.0,Hybrid,2018,28381,52671
19,VW,Polo,1.2,Petrol,1998,155038,2118
20,VW,Golf,1.2,Hybrid,1987,121744,1890
21,Ford,Mondeo,1.6,Diesel,1996,77584,5667
22,Toyota,Prius,1.0,Hybrid,2003,115291,6512
23,Toyota,Prius,1.0,Hybrid,1990,238571,961
24,Porsche,911,2.6,Petrol,2009,66273,41963
25,Toyota,Prius,1.8,Hybrid,2017,31958,38961
26,Porsche,911,3.5,Petrol,2005,151556,19747
27,Toyota,Yaris,1.2,Petrol,2002,179097,2548
28,VW,Golf,2.0,Petrol,2020,18985,36387
29,Toyota,RAV4,1.8,Hybrid,2002,66990,13553

In [4]:
#Traduzindo colunas
carros.columns = ['Fabricante', 'Modelo', 'Potencia Motor', 'Tipo Combustivel', 'Ano De Fabricação', 'Quilometragem', 'Preco']

#Convertando preço dos carros para reais.
carros['Preco'] = carros['Preco'].astype(float)
carros['Preco'] = carros['Preco'] * 5.38
carros.head()

,Fabricante,Modelo,Potencia Motor,Tipo Combustivel,Ano De Fabricação,Quilometragem,Preco
0,Ford,Fiesta,1.0,Petrol,2002,127300,16538.12
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,267407.52
2,Ford,Mondeo,1.6,Diesel,2014,39190,129507.36
3,Toyota,RAV4,1.8,Hybrid,1988,210814,9172.90
4,VW,Polo,1.0,Petrol,2006,127869,22063.38

In [5]:
#Limpeza dos dados
print('===== ANÁLISE INICIAL DA BASE DE DADOS =====\n')

# Informações gerais sobre o DataFrame
print('Informações gerais:')
print('------------------------------------------------')
carros.info()
print('\n')

# Verificação de valores nulos
print('Verificando se existem dados nulos:')
print('------------------------------------------------')
print(carros.isnull().sum())
print('\n')

# Estatísticas descritivas
print('Descrição dos dados numéricos (verificar se há algo fora do padrão):')
print('------------------------------------------------')
print(carros.describe())
print('\n')

print('===== FIM DA ANÁLISE INICIAL =====')

===== ANÁLISE INICIAL DA BASE DE DADOS =====

Informações gerais:
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fabricante         50000 non-null  object
 1   Modelo             50000 non-null  object
 2   Potencia Motor     50000 non-null  float64
 3   Tipo Combustivel   50000 non-null  object
 4   Ano De Fabricação  50000 non-null  int64
 5   Quilometragem      50000 non-null  int64
 6   Preco              50000 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 2.7+ MB


Verificando se existem dados nulos:
------------------------------------------------
Fabricante           0
Modelo               0
Potencia Motor       0
Tipo Combustivel     0
Ano De Fabricação    0
Quilometragem        0
Preco                0
dtype: int64


Descrição dos dados numéricos (verificar se há algo fora do padrão):
------------------------------------------------
       Potencia Motor  Ano De Fabricação  Quilometragem          Preco
count    50000.000000       50000.000000   50000.000000   50000.000000
mean         1.773058        2004.209440  112497.320700   74399.499001
std          0.734108           9.645965   71632.515602   88321.745590
min          1.000000        1984.000000     630.000000     408.880000
25%          1.400000        1996.000000   54352.250000   16466.835000
50%          1.600000        2004.000000  100987.500000   42886.670000
75%          2.000000        2012.000000  158601.000000  102362.570000
max          5.000000        2022.000000  453537.000000  904275.780000


===== FIM DA ANÁLISE INICIAL =====

In [6]:
'''Analisando o bloco percebemos que existem carros com valores muitos irreais, decidimos remover os carros com valor de R$ 3.500,00'''
carros_valor_irreais = carros[carros['Preco'] <= 3500.00].sort_values(by='Preco')
carros.drop(index=carros_valor_irreais.index, inplace=True)
carros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48711 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fabricante         48711 non-null  object
 1   Modelo             48711 non-null  object
 2   Potencia Motor     48711 non-null  float64
 3   Tipo Combustivel   48711 non-null  object
 4   Ano De Fabricação  48711 non-null  int64
 5   Quilometragem      48711 non-null  int64
 6   Preco              48711 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 3.0+ MB

In [7]:
# Transformando quilometragem em float
carros['Quilometragem'] = carros['Quilometragem'].astype(float)
carros.head()

,Fabricante,Modelo,Potencia Motor,Tipo Combustivel,Ano De Fabricação,Quilometragem,Preco
0,Ford,Fiesta,1.0,Petrol,2002,127300.0,16538.12
1,Porsche,718 Cayman,4.0,Petrol,2016,57850.0,267407.52
2,Ford,Mondeo,1.6,Diesel,2014,39190.0,129507.36
3,Toyota,RAV4,1.8,Hybrid,1988,210814.0,9172.90
4,VW,Polo,1.0,Petrol,2006,127869.0,22063.38